@import url("https://fonts.googleapis.com/css?family=Roboto");
header {
  background-color: #0b2830;
  padding: 10px 0;
}
header .container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .contact {
  display: flex;
  gap: 20px;
}
header .container .contact p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
header .container .contact p i {
  margin-right: 10px;
  color: #fdb60d;
}
header .container button {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #1a8395;
  border: none;
  color: white;
  cursor: pointer;
}
header .container button:hover {
  background-color: #fdb60d;
}
header .container .socials a i {
  color: white;
  font-size: 18px;
}
header .container .lang .custom-select .dropdown {
  position: relative;
  display: inline-block;
}
header .container .lang .custom-select .dropbtn {
  background-color: #fdb60d;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
header .container .lang .custom-select .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdb60d;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}
header .container .lang .custom-select .dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: block;
  border-radius: 10px;
}
header .container .lang .custom-select .dropdown-content a:hover {
  background-color: rgba(196, 194, 191, 0.4);
}
header .container .lang .custom-select .dropdown:hover .dropdown-content {
  display: block;
}
header .container .lang .custom-select .dropdown:hover .dropbtn {
  background-color: #fdb60d;
}
header .bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 30px;
  width: 85%;
}
header .bottom-header .logo {
  width: 30%;
  background-color: #fdb60d;
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  position: absolute;
  bottom: -70px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
}
header .bottom-header .logo img {
  width: 45%;
  margin-right: 20px;
}
header .bottom-header nav {
  margin-left: 32%;
}
header .bottom-header nav ul {
  display: flex;
  gap: 40px;
}
header .bottom-header nav ul li a {
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;
}
header .bottom-header nav ul li a:hover {
  color: #fdb60d;
}
@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 200px;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    width: 200px;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
header .bottom-header .search #navOpenClose {
  display: none;
}
header .bottom-header .search input {
  display: inline-block;
  height: 30px;
  background-color: #fdb60d;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 8px;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease-in-out;
}
header .bottom-header .search input.open {
  animation: slideIn 0.3s forwards;
}
header .bottom-header .search input.closed {
  animation: slideOut 0.3s forwards;
}
header .bottom-header .search button {
  padding: 5px 6px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.section-1 {
  background-color: #4c4c4c;
}
.section-1 .container {
  width: 80%;
  margin: auto;
  padding: 100px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.section-2 .container {
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6mm;
}
.section-2 .container h2 {
  color: #1a8395;
  margin: 20px 0;
}
.section-2 .container p {
  font-size: 14px;
}

.section-3 {
  background-color: #1a8395;
  padding: 20px 0;
}
.section-3 .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section-3 .container .info {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.section-3 .container .info h2 {
  margin: 10px 0;
}
.section-3 .container .info p {
  line-height: 10mm;
  font-size: 12px;
}
.section-3 .container img {
  width: 80%;
}

.section-4 .container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-4 .container .info-1 {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.section-4 .container .info-1 img {
  width: 40%;
}
.section-4 .container .info-1 .info {
  background-color: #f6f6f8;
  padding: 20px;
  border: 2px solid #fdb60d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.section-4 .container .info-1 .info > p {
  line-height: 10mm;
  border-left: 2px solid #fdb60d;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 10px 0;
  background-color: rgba(253, 181, 13, 0.2666666667);
}
.section-4 .container .info-1 .info .thumbs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section-4 .container .info-1 .info .thumbs .thumb {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgba(253, 181, 13, 0.2666666667);
}
.section-4 .container .info-1 .info .thumbs .thumb p {
  font-size: 12px;
}
.section-4 .container .info-1 .info .thumbs .thumb i {
  color: #fdb60d;
  font-size: 26px;
}
.section-4 .container .info-1 .info .lines {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin: 10px 0;
  font-size: 14px;
}
.section-4 .container .info-1 .info .lines .line {
  background-color: #156f7e;
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #fdb60d;
  color: white;
}
.section-4 .container .info-1 .info .lines .line-1 {
  width: 30%;
}
.section-4 .container .info-1 .info .lines .line-3 {
  width: 90%;
}
.section-4 .container .info-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif;
}
.section-4 .container .info-2 img {
  width: 40%;
}
.section-4 .container .info-2 .info {
  background-color: #f6f6f8;
  padding: 20px;
  border: 2px solid #fdb60d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.section-4 .container .info-2 .info > p {
  line-height: 10mm;
  border-left: 2px solid #fdb60d;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 10px 0;
  background-color: rgba(253, 181, 13, 0.2666666667);
}
.section-4 .container .info-2 .info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-4 .container .info-2 .info ul li {
  border-left: 5px solid #fdb60d;
  padding-left: 10px;
}

.section-5 {
  background-color: #f3f3f3;
  padding: 20px;
}
.section-5 .container {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section-5 .container h2 {
  color: #004d40;
  font-size: 24px;
  margin-bottom: 10px;
}
.section-5 .container h3 {
  color: #00796b;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.section-5 .container h4 {
  color: #009688;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.section-5 .container p {
  color: #333;
  line-height: 1.6;
}
.section-5 .container ul {
  list-style: none;
  padding: 0;
}
.section-5 .container ul li {
  background: url("check.png") no-repeat 0 0;
  padding-left: 20px;
  margin-bottom: 10px;
}
.section-5 .container .contact {
  margin-top: 20px;
}
.section-5 .container .contact p {
  margin: 5px 0;
}
.section-5 .container .contact a {
  color: #009688;
  text-decoration: none;
}
.section-5 .container .contact a:hover {
  text-decoration: underline;
}

footer .socials {
  margin-left: 70%;
  width: 30%;
  text-align: center;
  padding: 20px 0;
  background-color: #fdb60d;
  -webkit-clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0% 100%);
}
footer .socials a {
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}
footer .footer-main {
  background-color: #2f484f;
  color: white;
}
footer .footer-main .container {
  padding: 30px 0;
  width: 80%;
  margin: auto;
}
footer .footer-main .container .cols {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
footer .footer-main .container .cols .col-1 {
  width: 30%;
}
footer .footer-main .container .cols .col-1 img {
  width: 60%;
  margin-bottom: 30px;
}
footer .footer-main .container .cols .col-1 p {
  font-size: 16px;
}
footer .footer-main .container .cols .col-2 p {
  color: #fdb60d;
  margin-bottom: 30px;
}
footer .footer-main .container .cols .col-2 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-main .container .cols .col-3 p {
  color: #fdb60d;
  margin-bottom: 30px;
}
footer .footer-main .container .cols .col-3 iframe {
  width: 70%;
  height: 150px;
}
footer .footer-end {
  background-color: #fdb60d;
  padding: 20px 0;
}
footer .footer-end p {
  color: #2f484f;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
footer .footer-end p span {
  color: white;
}
@keyframes come-in {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 350px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px #fdb60d;
  transform: translatey(5px);
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  animation: come-in 0.4s forwards 0.6s;
}

.floating-container:hover .element-container .float-element:nth-child(4) {
  animation: come-in 0.4s forwards 0.8s;
}

.floating-container .floating-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fdb60d;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  transition: all 0.3s;
}
.floating-container .floating-button i {
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  transform: translateY(100px);
}
.floating-container .float-element a {
  color: white;
  font-size: 22px;
}

.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
  background: #42a5f5;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floating-container .float-element:nth-child(2) {
  background: #4caf50;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floating-container .float-element:nth-child(3) {
  background: #ff9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}

.floating-container .float-element:nth-child(4) {
  background: #eb1708;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}/*# sourceMappingURL=about.css.map */